<appSettings>
	<add key ="MailServer" value="dev-smtp.vidly.com"/>
	<add key="FacebookAppId" value="260809192472421" />
	<add key="FacebookAppSecret" value="51b99c0fb74f1df4e78f2dc5a989b29a" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>